@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Ma+Shan+Zheng|Noto+Sans+HK:400,500|Noto+Sans+TC|Noto+Serif+TC&display=swap');





* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

h1 {font-size: 2.4rem;}

h2 { font-size:2rem;}

h3 {font-size: 1.2rem;}

body {
    background: rgb(255, 245, 245);
}

ul {list-style: none;}

a {
    text-decoration: none;
    color:#000;
}

a:hover {
    color:#444;
}

header {
    background:#fff;
}

.header-container {
    display:flex;
    flex-direction: row;
    padding:1rem;
}

header .logo {
    margin-right:2rem;
    
}

header .logo img {
    height: 7.96rem;
}

header .taglines {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header .tagline-0 {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: #d11d53;
}

header .tagline-1 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.2rem;
    padding:0.5rem;
}

header .tagline-2 {
    font-family: 'Noto Sans HK', sans-serif;
    padding:0.5rem;
}

#main-nav {
    background:#FFCBD3;
    padding-right:1rem;
    padding-left: 1rem;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: row;
}

.nav-list {
    display:inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}

#main-nav li {
    display: inline-block;
    margin: 1rem 0rem;
}

.nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-link--active {
    background:#ed81a1;
}

.nav-link--focus {
    background:#fff;
}

#main-nav a {
    text-decoration: none;
    color:#000;
    font-size:1rem;
    width:100%;
    height:100%;
    padding:1rem 1rem;
}

#main-nav a:hover {
    background:#fff;
}

.drop-down-menu-service,
.drop-down-menu-education {
    margin-left: 1rem;
    color:#ababab;
    background:#fff;
    display: none;
    position: absolute;
    z-index:100;
}

.container {
    padding:1rem;
}



.drop-down-menu-service .row,
.drop-down-menu-education .row{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.drop-down-menu-service h3,
.drop-down-menu-education h3 {margin-bottom:1rem}

.drop-down-menu-service .col,
.drop-down-menu-education .col {
    padding:1rem 3rem;
    border-right:2px solid #999;
}

.drop-down-menu-service .col:last-child,
.drop-down-menu-education .col:last-child {
    border:none;
    padding-right:0;
}

#homepage-content {
    width: 100%;
}

.drop-down-menu-education {
    display: none;
}

.drop-down-menu-education .row {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}


#homepage-content .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: stretch;
    background: rgb(255, 245, 245);
}

#homepage-content .glide {
    width:60%;
}

.glide__slide {
    display: flex;
    justify-content: center;
}

.glide {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .child-picture {
    margin-top: 5rem;
} */

#homepage-content .latest-news {
    width: 40%;
    padding-left:2rem;
}

#homepage-content .latest-news h2 {
    margin-bottom:1rem;
}

#homepage-content .latest-news li {
    margin-bottom: 0.5rem;
}

/*HISTORY PAGE*/


.flex-container {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
}

.history-img {
    width:50%;
    text-align:center;
}

.history-description {
    width:50%;
    padding: 0 2rem;
}

/*MEMBERS PAGE*/



.banner {
    width: 15rem;
    border:1px solid #e75480;
    height: 3rem;
    text-align:center;
    font-size: 1.5rem;
    margin-left:auto;
    margin-right: auto;
    background:#e75480;
}

.banner:before {
    margin-top: 1.9rem;
    margin-left: -3rem;
    border-right: 2rem solid #d11d53;
    content: "";
    float: left;
    width: 2rem;
    background-color: #e75480;
    z-index: -1;
    position: relative;
    border-left: 1rem solid rgb(255, 245, 245);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    z-index: -1;
}

.banner:after {
    margin-top: 1.9rem;
    margin-right: -3rem;
    border-left: 2rem solid #d11d53;
    content: "";
    float: right;
    width: 2rem;
    background-color: #e75480;
    z-index: -1;
    position: relative;
    border-right: 1rem solid rgb(255, 245, 245);
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    z-index: -1;
}

.person {
    padding: 1rem;
    text-align: center;
}

.doctor-1,
.doctor-3,
.doctor-5,
.doctor-7 {
    background: url('../img/person.jpg');
}

.doctor-2,
.doctor-4,
.doctor-6,
.doctor-8 {
    background: url('../img/person-1.jpg');
}

.psy-1,
.psy-3,
.psy-5,
.psy-7,
.psy-9,
.psy-11,
.psy-13 {
    background: url('../img/person.jpg');
}

.psy-2,
.psy-4,
.psy-6,
.psy-8,
.psy-10,
.psy-12 {
    background: url('../img/person-1.jpg');
}

.sworker-1 {
    background: url('../img/person.jpg');
}

.image {
    min-height: 200px;
    background-size: cover;
}



.dark-overlay {
    display: none;
}

.image:hover > .dark-overlay {
    background: rgb(0,0,0, 0.5);
    width: 100%;
    min-height: 200px;
    display: block;
    color: #fff;
}

.person__list {
    padding: 2.5rem;
    text-align: left;
}

.person-description {
    padding-left: 1rem;
}

.persons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(200px, auto) minmax(200px, auto) minmax(200px, auto);
} 

.persons-one-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(200px, auto);
}

/*SERVICES PAGE*/

.service-type--title,
.service-way--title {
    text-align:center;
    color: #ed81a1;
    font-weight: 400;
}

.service-type--list,
.service-way--list {
    list-style: none;
    padding: 1rem 5rem;
}

.service-type--list li,
.service-way--list li {
    margin-bottom: 1rem;
}

.service-type--list ol,
.service-way--list ol {
    padding: 1rem 5rem;
    list-style: none;
}

/*SERVICES TIME PAGE*/

.table-1 table {
    margin-left: auto;
    margin-right: auto;
}

.table-1 table {
    margin-bottom: 1rem;
}

.table-1 .banner{
    margin: 2.5rem auto;
}


.table-1 td {
    min-width: 6rem;
    text-align: center;
}

.table-1 table {
    border-collapse: collapse;
}


.table-1 .header-row,
.table-1 .header-row td {
    border: none;
}

#services-time-content {
    margin-bottom: 2rem;
}

/*CLINICAL SERVICE PAGE*/

.clinical-service-img {
    width:50%;
    text-align:center;
}

.clinical-service-paragraphs {
    width:50%;
    padding: 0 2rem;
}

/*FOOTER*/

footer {
    background: #e75480;
    text-align: center;
    padding: 1rem 0;
}

/*CARE-CENTER PAGE (日間照護中心)*/

.care-center--lists {
    padding-left:10%;
    padding-right:10%;
}


#care-center-content table{
    border-collapse: collapse;
}

#care-center-content li {
    padding: 0.5rem;
}

#care-center-content td {
    padding: 0.5rem;
}

/*PUBLICATION PAGE*/

#publication-content .author {
    padding-left:10%;
    padding-right: 10%;
}

#publication-content ol {
    padding-left:2rem;
}

.author {
    margin-bottom: 1rem;
}

.author h3 {
    margin-bottom: 1rem;
    color: #e75480;
}

.community-img {
    width:50%;
    text-align:center;
}

.community-description {
    width:50%;
    padding: 0 2rem;
}

/*COMMUNITY PAGE*/

.inner-list {
    padding-left: 3rem;
    list-style: circle
}

/*HEALTH PAGE*/

.genre {
    padding-left:10%;
    padding-right: 10%;
    margin-bottom: 1rem;
}

.genre ul {
    list-style-type: disc;
    padding-left: 1rem;
}

@media screen and (min-width: 1600px) {
    * {
        font-size: 20px;
    }

    #main-nav {
        justify-content: center;
    }

    #homepage-content .container {
        justify-content: center;
    }

    .header-container {
        justify-content: center;
    }

    .drop-down-menu-service .row,
    .drop-down-menu-education .row{
        justify-content: center;
    }

    .image{
        min-height: 400px;
    }

    .image:hover > .dark-overlay {
        min-height: 400px;
    }

}

@media screen and (min-width: 1800px) {
    * {
        font-size: 22px;
    }

    .child-picture {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 1000px) {
    .persons,
    .persons-one-row {
        grid-template-columns: 1fr 1fr;
    }
    
    * {
        font-size: 14px;
    }

    .child-picture {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 600px) {
    .persons,
    .persons-one-row {
        grid-template-columns: 1fr;
    }

    .image {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    * {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    * {
        font-size: 10px;
    }
}